{% extends 'base.html' %}
{% block body_content %}
    <div class="text-center">
    </div>
    <div>

            <h2> Welcome </h2>
            <div class="jumbotron">
                <div class="content container">
                    <div class="row">
                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">List Users</h5>
                                <p class="card-text">List all Customers registered in the system.</p>

                            </div>
                        </div>

                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">Add Customer</h5>
                                <p class="card-text">Create new Customer.</p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">List Products</h5>
                                <p class="card-text">List products available.</p>

                            </div>
                        </div>

                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">Add Products</h5>
                                <p class="card-text">Create a new Product.</p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">List Suppliers</h5>
                                <p class="card-text">List Suppliers available.</p>

                            </div>
                        </div>

                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">Add Suppliers</h5>
                                <p class="card-text">Create a new Supplier</p>

                            </div>
                        </div>
                    </div>


                      <div class="row">
                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">List Countries</h5>
                                <p class="card-text">List Countries available.</p>

                            </div>
                        </div>

                        <div class="card" style="width: 18rem; float: left; margin: 5px;">
                            <div class="card-body">
                                <h5 class="card-title">Add Country</h5>
                                <p class="card-text">Create a new Country</p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>



    </div>
{% endblock body_content %}